.DiaryItem{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding:15px 0
}
.img-section {
    min-width: 120px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.img-section img{
    width: 50%;
}

.img-section.bg-1 {
    background-color: rgb(237, 192, 73);
}

.img-section.bg-2 {
    background-color: rgb(237, 213, 112);
}

.img-section.bg-3 {
    background-color: rgb(102, 137, 161);
}

.img-section.bg-4 {
    background-color: rgb(146, 148, 151);
}

.img-section.bg-5 {
    background-color: rgb(219, 131, 62);
}

.info-section {
    flex: 1;
    cursor: pointer;
}
.info-section .content{
    font-size: 18px;
}
.info-section .created-date{
    font-size: 25px;
    font-weight: bold;
}