.EmotionItem{
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    
}
.EmotionItem img{
    width: 75px;
    height: 60px;
    object-fit: contain;
}

.EmotionItem.item_on_1{
     color: white;
    background-color: rgb(237, 192, 73);
}
.EmotionItem.item_on_2{
    color: white;
    background-color: rgb(237, 213, 112);
}
.EmotionItem.item_on_3{
    color: white;
    background-color: rgb(102, 137, 161);
}

.EmotionItem.item_on_4{
    color: white;
    background-color: rgb(146, 148, 151);
}
.EmotionItem.item_on_5{
  color: white;
    background-color: rgb(219, 131, 62);
}